# SNES — RetroArch config overrides
# Applied on top of config/retroarch_base.cfg via --appendconfig.

video_shader_enable = "true"
video_shader = "shaders/crt-easymode.glslp"

system_directory = "/media/RETROGAMES/machines/snes/system"
savefile_directory = "/media/RETROGAMES/machines/snes/saves"
savestate_directory = "/media/RETROGAMES/machines/snes/states"
content_directory = "/media/RETROGAMES/machines/snes/disks"
