# NES — RetroArch config overrides
# Applied on top of config/retroarch_base.cfg via --appendconfig.

video_shader_enable = "true"
video_shader = "shaders/crt-easymode.glslp"

system_directory = "/media/RETROGAMES/machines/nes/system"
savefile_directory = "/media/RETROGAMES/machines/nes/saves"
savestate_directory = "/media/RETROGAMES/machines/nes/states"
content_directory = "/media/RETROGAMES/machines/nes/disks"
